
@{
    ViewBag.Title = "SDND_SPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/elearn.css" rel="stylesheet" />

<div id="body">

    <div class="card ">
        <div class="card-header alert-success">
            <h5>Available Courses</h5>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item">
                <input type="submit" class="btn btn-info" id="et" data-url="/Student/elearn" value="Web & Mobile Application Developemnt" />
            </li>
            <li class="list-group-item">
                <input type="submit" class="btn btn-info" value="Slick Dot Net Developer" />

                @*<a href="#">Slick Dot Net Developer</a>*@
            </li>
            <li class="list-group-item">
                <input type="submit" class="btn btn-info" value="Graphic Designing" />

            @*<a href="#">Graphic Designing</a>*@
            </li>
            <li class="list-group-item">
                <input type="submit" class="btn btn-info" value="Freelancing" />

            @*<a href="#">Freelancing</a>*@
            </li>
        </ul>
    </div>
    @*<div class="inline" style="text-align:justify;text-align:center">
            <div class="inline" ; id="one">
                <h2 class="head"><b>Module 1  !</b></h2>
                <p style="font-size: 20px;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <div style="text-align:center" ;>
                    <input type="submit" class="btn btn-info" id="et" data-url="/Student/elearn" value="Let's Start To Learn !" />
                </div>
            </div>




            <div class="inline" ; id="two" style="text-align:justify;text-align:center">
                <h2 class="head"><b> Module 2  !</b></h2>
                <p style="font-size: 20px;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                </p>
                <div style="text-align:center" ;>
                    <input type="submit" class="btn btn-info" value="Let's Start To Learn !" />
                </div>
            </div>
        </div>*@



    @*<div class="inline" ; id="three" style="text-align:justify;text-align:center">
            <h2 class="head"><b> Module 2  !</b></h2>
            <p style="font-size: 20px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

            </p>
            <div style="text-align:center" ;>
                <input type="submit" class="btn btn-info" value="Let's Start To Learn !" />
            </div>

        </div>



        <div class="inline" ; id="four" style="text-align:justify;text-align:center">
            <h2 class="head"><b> Module 2  !</b></h2>
            <p style="font-size: 20px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

            </p>
            <div style="text-align:center" ;>
                <input type="submit" class="btn btn-info" value="Let's Start To Learn !" />
            </div>
        </div>*@
</div>
