

@*<div class="card" style="color : white">
    <div class="card-body text-center bg-secondary">
       Quiz
    </div>
</div>*@


<div class="card mb-4">
    <img class="card-img-top" src="~/image/basics-of-elearning-infographic-01.jfif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Module Name : HTML5</h5>
        <p class="card-text"><b>Description : </b>First Quiz for HTML5 which covers Introduction to HTML5 from HTML and CSS by Jon Duckett</p>
        <p class="card-text">No. of Attempts Allowed : 1</p>
        <input type="submit" class="btn btn-info" id="next1" data-url="/Student/slide" value="Continue" />
    </div>
</div>
<div class="card mb-4">
    <img class="card-img-top" src="~/image/pexels-pixabay-270373.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Module Name : CSS3</h5>
        <p class="card-text"><b>Description : </b>Quiz contains questions from Chapter 10 to 12 of 'HTML and CSS by Jon Duckett' book. Important Note: Where specifically noted, you can select more than one option as a correct answer. For example you can select a, b, and c as the correct answer.</p>
        <p class="card-text">No. of Attempts Allowed : 1</p>
        <input type="submit" class="btn btn-info" id="next1" data-url="/Student/slide" value="Continue" />
    </div>
</div>
<div class="card mb-4">
    <img class="card-img-top" src="~/image/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Module Name : Javascript</h5>
        <p class="card-text"><b>Description : </b>Basic Javascript quiz covering 20 chapters of Smarter way to Learn javascript book.\n\nImportant Note: Where specifically noted, you can select more than one option as a correct answer. For example you can select a, b, and c as the correct answer.</p>
        <p class="card-text">No. of Attempts Allowed : 1</p>
        <input type="submit" class="btn btn-info" id="next1" data-url="/Student/slide" value="Continue" />
    </div>
</div>